@import "./theme.css";

/* 1. Use a more-intuitive box-sizing model */
*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 1rem;
}

.scheduler {
  width: max-content;
}

.scheduler-header {
  display: flex;
  justify-content: space-between;
  padding: var(--spacing-6);
}

.scheduler-actions {
  display: flex;
  gap: var(--spacing-4);
}

/* draft */
:root {
  --slot-height: 2.5rem;
  --event-color: rgba(0, 120, 215, 0.6);
  --event-text-color: #fff;
  --event-radius: 4px;
}

.timegrid-scroll-container {
  height: 300px;
  overflow-y: auto;
  border-right: 1px solid var(--border-color);
  border-bottom: 1px solid var(--border-color);
}

.timegrid {
  display: grid;
  width: 100%;
}

/* All cells */
.timegrid-header-cell,
.timegrid-time-cell,
.timegrid-cell {
  border-top: 1px solid var(--border-color);
  border-left: 1px solid var(--border-color);
  padding: var(--spacing-2);
  box-sizing: border-box;
}

/* Header */
.timegrid-header-cell {
  font-weight: 600;
  text-align: center;
  background: var(--background-color);
}

/* Time column */
.timegrid-time-cell {
  text-align: right;
  background: var(--background-color);
}

/* Grid cells */
.timegrid-cell {
  height: var(--slot-height);
  cursor: pointer;
}

.timegrid-cell:hover {
  background: var(--highlight-hover);
}

.timegrid-header-cell::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 1px;
  background: var(--border-color);
}
.timegrid-header-cell {
  position: sticky;
  top: 0;
  background: var(--background-color);
  z-index: 10;
}

.border-t-0 {
  border-top: none;
}

.daygrid {
  display: grid;
  width: 100%;
  border-right: 1px solid var(--border-color);
  border-bottom: 1px solid var(--border-color);
}

/* All cells */
.daygrid-header-cell,
.daygrid-cell {
  border-top: 1px solid var(--border-color);
  border-left: 1px solid var(--border-color);
  padding: var(--spacing-2);
  box-sizing: border-box;
}

/* Header */
.daygrid-header-cell {
  font-weight: 600;
  text-align: center;
  background: var(--background-color);
}

/* Time column */
.daygrid-time-cell {
  text-align: right;
  background: var(--background-color);
}

/* Grid cells */
.daygrid-cell {
  height: var(--slot-height);
  cursor: pointer;
}

.daygrid-cell:hover {
  background: var(--highlight-hover);
}

.daygrid-cell.other-month {
  color: var(--text-color-disabled);
  pointer-events: none;
}

.today {
  background: var(--tint-100);
}
.today:hover {
  background: var(--tint-200);
}
